security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            # Ensure dev tools and static assets are always allowed
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false
        main:
            lazy: true
            provider: app_user_provider
            entry_point: App\Security\LoginFormAthenticateurAuthenticator
            custom_authenticators:
                - App\Security\GoogleOAuthAuthenticator
                - App\Security\LoginFormAthenticateurAuthenticator
                - App\Security\FaceAuthenticator
            logout:
                path: app_logout
                # where to redirect after logout
                # target: app_any_route

            # Activate different ways to authenticate:
            # https://symfony.com/doc/current/security.html#the-firewall

            # https://symfony.com/doc/current/security.html#the-switch-user
            # switch_user: true

    # Note: Only the *first* matching rule is applied
    access_control:
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/reset-password, roles: PUBLIC_ACCESS }
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }
        - { path: ^/face/verify, roles: PUBLIC_ACCESS }
        - { path: ^/face/check-enabled, roles: PUBLIC_ACCESS }
        - { path: ^/face/enroll, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/face/enroll/submit, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/face/disable, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            # Password hashers are resource-intensive by design to ensure security.
            # In tests, it's safe to reduce their cost to improve performance.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
